In [1]:
import pandas as pd

df = pd.read_csv("C:\\Users\\User\\OneDrive\\Desktop\\FairEval Model Development\\RMP_SET-Labelled_SA.csv")
df_2 = pd.read_csv("professors_75346_processed.csv")

In [2]:
df.head()

,rating_comment,processed_comment,sentiment,confidence
0,Everyone knows that Anatomy and physiology 1 a...,"['everyone', 'know', 'anatomy', 'physiology', ...",1,0.9985
1,Absolutely loved taking her class. She's an in...,"['absolutely', 'love', 'take', 'incredible', '...",1,0.9990
2,Dr.A gives great lectures and you really learn...,"['dra', 'give', 'great', 'lecture', 'really', ...",1,0.9990
3,"Great professor. She was difficult for sure, b...","['great', 'difficult', 'sure', 'literally', 'r...",1,0.9990
4,Dr. A is a very smart professor. Be prepared t...,"['smart', 'prepare', 'read', 'book', 'hour', '...",1,0.9976

In [4]:
df_2.columns

Index(['professor_id', 'department', 'first_name', 'last_name',
       'would_take_again_percent', 'avg_rating', 'rating_comment',
       'flag_status', 'rating_class', 'helpful_rating', 'clarity_rating',
       'is_online', 'difficulty_rating', 'is_for_credit', 'sentiment',
       'confidence', 'gender', 'discipline', 'sub_discipline',
       'processed_comment', 'processed_tokens', 'positive_terms_lexicon',
       'negative_terms_lexicon', 'positive_terms_vader',
       'negative_terms_vader'],
      dtype='object')

In [5]:
df_2.head()

,professor_id,department,first_name,last_name,would_take_again_percent,avg_rating,rating_comment,flag_status,rating_class,helpful_rating,...,confidence,gender,discipline,sub_discipline,processed_comment,processed_tokens,positive_terms_lexicon,negative_terms_lexicon,positive_terms_vader,negative_terms_vader
0,600026,Biology,Angela,Asirvatham,85.7143,3.7,Everyone knows that Anatomy and physiology 1 a...,UNFLAGGED,AP211,4,...,0.9985,Female,Science,Biology,everyone know anatomy physiology already extre...,"['everyone', 'know', 'anatomy', 'physiology', ...",['helpful'],"['hard', 'hard']",[],[]
1,600026,Biology,Angela,Asirvatham,85.7143,3.7,Absolutely loved taking her class. She's an in...,UNFLAGGED,BIO212,5,...,0.9990,Female,Science,Biology,absolutely love take incredible great person r...,"['absolutely', 'love', 'take', 'incredible', '...","['love', 'incredible', 'great']",[],"['love', 'great']",[]
2,600026,Biology,Angela,Asirvatham,85.7143,3.7,Dr.A gives great lectures and you really learn...,UNFLAGGED,BIO212AP,5,...,0.9990,Female,Science,Biology,give great lecture really learn lot along pay ...,"['give', 'great', 'lecture', 'really', 'learn'...",['great'],['tricky'],['great'],[]
3,600026,Biology,Angela,Asirvatham,85.7143,3.7,"Great professor. She was difficult for sure, b...",UNFLAGGED,BIO211,5,...,0.9990,Female,Science,Biology,great difficult sure literally recite every pi...,"['great', 'difficult', 'sure', 'literally', 'r...","['great', 'succeed', 'fair']",['difficult'],['great'],[]
4,600026,Biology,Angela,Asirvatham,85.7143,3.7,Dr. A is a very smart professor. Be prepared t...,UNFLAGGED,BIO211,4,...,0.9976,Female,Science,Biology,smart prepare read book hour night study test ...,"['smart', 'prepare', 'read', 'book', 'hour', '...","['smart', 'work']",[],[],[]